
.content{
    max-width: 100%;
    margin-top: 110px;
    display: grid;
    grid-template-columns: 17% 83%;
    margin-bottom: 20px;
}

.content-right{
    display: flex;
    flex-direction: column;
}

.content-title {
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: black;
    z-index: 1;
}

.content-title h1{
      font-size: 40px;
}

.content-items{
    margin: 2.5% 6%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px ;
    column-gap: 8%;
    justify-items: center;
}

.item-card{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: 0.15s ease;
    border-radius: 10px;
}

.item-card:hover{
    box-shadow: 2px 1px 20px 0px rgba(0, 0, 0, 0.064);
}

.item-card-top img{
    width: 100%;
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.item-card-bottom{
    margin-left: 9px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.item-name{
    text-align: start;
    font-weight: bold;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.item-description{
    color: rgba(89, 82, 82, 0.893);
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.item-price{
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    gap: 7px;
}
.mrp-sale-wrapper{
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.item-MRP{
     text-decoration: line-through;
     color: rgba(89, 82, 82, 0.836);
     font-family: 'Roboto', sans-serif;
     font-weight: normal;
    font-size: 12px;
}

.item-sale{
    font-weight: lighter;
    color: rgb(255, 166, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 11.5px;
}

.item-buttons{
    display: flex;
    flex-direction: row; 
    gap: 17%;   
    align-items: center;
    justify-content: center;
    margin-top: 10px; 
    margin-left: -15%;
}

.buy-button{
    padding: 6px 13px;
    border-radius: 20px;
    background-color: rgb(0, 176, 0);
    cursor: pointer;
    color: white;
    font-size: 14px;
}

.buy-button:hover{
    background: linear-gradient(to right, rgb(0, 176, 0),rgb(27, 192, 27));
    
    transition: 0.3s ease;
}

.wishlist-button{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    align-items: center;
    gap : 7px;
}


.wishlist-button .nav-icons-circle {
  border: 1.55px solid rgb(255, 0, 0);
  width: 30px;
  height: 30px;
}

.wishlist-button .nav-icons-circle:hover{
  background-color: rgb(255, 0, 0);
}

.wishlist-button .nav-icons-circle i {  
  color: rgba(255, 0, 0, 0.884);
  font-size: 15px;
  padding: 8px ;
}

.wishlist-button .nav-icons-circle i:hover {  
  color: rgb(255, 255, 255);
}




/* content-left */

.back-button{
    padding : 8px;
    background-color: rgba(255, 182, 193, 0.767);
    border-radius: 20px;
    width: 70px;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 40px;
    color:black;
}

.filter-section{
    height: 90%;
    border-right: 1.5px solid #b3b3b37a;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 6%;
    margin-top: 50px;
    background-color: rgba(239, 238, 238, 0.13);

}

.filter-section h1{
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 40px;
    border-bottom: 1.5px solid #b3b3b37a;
    color: rgba(0, 0, 0, 0.790);
}

.filter-1 h2,.filter-2 h2,.filter-3 h2{
    font-size: 20px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.790);
}
.filter-1, .filter-2, .filter-3{
     margin: 20px 0px;
     margin-left:  15px;
     border-bottom: 1.5px solid #b3b3b37a ;
     padding-bottom: 50px;
}

.radio-container{
    display:grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 9px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.731);
}

#filter-radio{
    width: 15px;
    height: 15px;
}

.size-checkbox,.color-checkbox{
    display:grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 9px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.731);
}

.filter-buttons{
    display: flex; 
    flex-direction: row; 
    gap : 40px;
    margin: 0 auto;
}
.filter-apply, .filter-clear{
    margin-top: 20px;
    text-align: center;
    width: 70px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.731);
    border-radius: 20px;
    cursor: pointer;
}


 /*   Phone     */

 @media (min-width : 350px) and (max-width : 767px){
    
    body {
     width: 100%;
     max-width: 100vw;
     overflow-x: hidden;
}
    .content{
        grid-template-columns: 30% 70%;
        width: 100%;
        overflow-x: hidden;
    }
    .content-right{
        width: 100%;
    }





    /* remove non needed */


.content-title h1{
      font-size: 28px;
      margin-top: 30px;
}


.item-card-top img{
    width: 100%;
    border-radius: 10px;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.item-card-bottom{
    margin-left: 9px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}


/* content-left */


.filter-section{
    height: 90%;
    border-right: 1.5px solid #b3b3b37a;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 6%;
    margin-top: 50px;
    background-color: rgba(239, 238, 238, 0.13);

}

.filter-section h1{
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 40px;
    border-bottom: 1.5px solid #b3b3b37a;
    color: rgba(0, 0, 0, 0.790);
}

.filter-1 h2,.filter-2 h2,.filter-3 h2{
    font-size: 20px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.790);
}
.filter-1, .filter-2, .filter-3{
     margin: 20px 0px;
     margin-left:  15px;
     border-bottom: 1.5px solid #b3b3b37a ;
     padding-bottom: 50px;
}

.filter-apply, .filter-clear{
    margin-top: 20px;
    text-align: center;
    width: 70px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.731);
    border-radius: 20px;
    cursor: pointer;
}



    /* remove non needed */
    /* over */

    .content-items{
    width: 100%;
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px ;
    column-gap: 1%;
    justify-items: center;
    }
    
    .item-card {
        width: 100%;
        padding : 5px;
        padding-bottom: 20px;
    }

    .item-name{
        font-size: 14.5px;
    }
    .item-description{
        font-size: 13px;
    }
    .item-price{
        font-size: 15px;
        flex-direction: column;
        gap: 2px;
    }
    .item-MRP, .item-sale{
        font-size: 12px;
    }

    .mrp-sale-wrapper{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .item-buttons {
        gap: 6%;
        margin-left: -10%;
    }
    .buy-button {
    padding: 5px 10px;
    font-size: 13px;
    }
    .wishlist-button {
    font-size: 13px;
    gap: 4px;
    }
    .wishlist-button .nav-icons-circle {
    width: 23px;
    height: 23px;
    }
    .wishlist-button .nav-icons-circle i {
    font-size: 15px;
    padding: 13px;
    }


    /* content-left */

    .back-button{
    width: 80px;
    font-size: 16px;
    }
    
    .size-checkbox, .color-checkbox{
        font-size: 17px;
        grid-template-columns: 30% 70%;
    }
     
    .radio-container{
        grid-template-columns: 77% 23%;
        font-size: 17px;
    }

    .filter-buttons{
        gap: 10px;
        margin: 0;
    }


 }